@keyframes rainbow {
    0% {
        --background-rotate: 0deg;
        --hue: 0;
    }
    5% {
        --background-rotate: 18deg;
        --hue: 18;
    }
    10% {
        --background-rotate: 36deg;
        --hue: 36;
    }
    15% {
        --background-rotate: 54deg;
        --hue: 54;
    }
    20% {
        --background-rotate: 72deg;
        --hue: 72;
    }
    25% {
        --background-rotate: 90deg;
        --hue: 90;
    }
    30% {
        --background-rotate: 108deg;
        --hue: 108;
    }
    35% {
        --background-rotate: 126deg;
        --hue: 126;
    }
    40% {
        --background-rotate: 144deg;
        --hue: 144;
    }
    45% {
        --background-rotate: 162deg;
        --hue: 162;
    }
    50% {
        --background-rotate: 180deg;
        --hue: 180;
    }
    55% {
        --background-rotate: 198deg;
        --hue: 198;
    }
    60% {
        --background-rotate: 216deg;
        --hue: 216;
    }
    65% {
        --background-rotate: 234deg;
        --hue: 234;
    }
    70% {
        --background-rotate: 252deg;
        --hue: 252;
    }
    75% {
        --background-rotate: 270deg;
        --hue: 270;
    }
    80% {
        --background-rotate: 288deg;
        --hue: 288;
    }
    85% {
        --background-rotate: 306deg;
        --hue: 306;
    }
    90% {
        --background-rotate: 324deg;
        --hue: 324;
    }
    95% {
        --background-rotate: 342deg;
        --hue: 342;
    }
    100% {
        --background-rotate: 360deg;
        --hue: 360;
    }
}
:root {
    /* 标题渐变背景 */
    --vp-home-hero-name-background: linear-gradient(90deg, rgba(0, 186, 173, 1) 0%, rgba(228, 185, 103, 1) 100%);
    /*--vp-home-hero-image-filter: blur(180px); */
    --vp-home-hero-image-background-image:none;

    /*页面背景色*/
    --vp-c-bg: #191919;
    /*主题色*/
    --vp-c-brand-1: #E4B967;
    --vp-c-brand-2: #E3D3B6;

    /* 按钮正常状态 */
    --vp-button-brand-border: #E4B967;
    --vp-button-brand-bg: #191919;
    --vp-button-brand-hover-bg: #606060;


    --vp-c-text-1: #dfdfd6;
    --vp-c-text-2: #98989f;
    --vp-c-text-3: #6a6a71;

    animation: rainbow 6s linear infinite;
}
.VPFeatures .items{
    justify-content: space-between;
}
.VPFeatures .items .item {
    transition: transform 0.3s;
    /*padding: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}
@media (min-width: 768px) {
    .VPFeatures .items .item {
        width: calc( 100% / 3 - 1rem);
    }
}

.VPFeatures .items .item:hover {
    transform: translateY(-10px);
    background: linear-gradient(180deg, rgba(228, 185, 103, 1) 0%, rgba(32, 33, 39, 1) 80%);
    border-radius: 12px;
    /*box-shadow: 0px 7px 29px  rgba(227, 211, 182, 1);*/
}
.VPFeatures .items .item>div{
    width: 100%;
    height: 100%;
    background: #202127;
}

.VPNavBarAppearance{
    display: none !important;
}
