@keyframes emerge {
    0%{
        opacity: 0;
        filter: blur(5px);
    }
    100%{
        opacity: 1;
        filter: blur(0);
    }

}
.emerge-anim {
    animation: emerge 1s ease-in-out;
}
.VPDoc .content-container .vp-doc h1{
    display: flex;
    align-items: center;
}
